<div class="grid">
    <div class="col-12">
		<div class="card">
			<h5>Create investigation</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="name">Name</label>
					<input pInputText id="name" type="text" />
				</div>
				<div class="field col-12 md:col-6">
                    <label htmlFor="asins">ASINs</label>
                    <input pInputText id="asins" type="text" />
                    <small>Paste ASIN codes here, separated by comma or space.</small>
				</div>
			</div>
            <div class="flex flex-wrap justify-content-end">
                <p-button styleClass="p-button">
                    <span class="ml-6 mr-6 font-bold">Submit</span>
                </p-button>
			</div>
		</div>
	</div>


    <div class="col-12">
        <div class="card">
            <h5>Investigations</h5>
            <p-table #dt  [value]="investiations" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header" let-columns>
                    <tr>
   
                        <th>Name</th>
                        <th>ASINs</th>
                        <th pSortableColumn="investigationDate">Started <p-sortIcon field="investigationDate"></p-sortIcon></th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <a [routerLink]="['/investigation-details', rowData.id, 'customer-insights']">
                                {{rowData.name}}
                            </a>
                        </td>
                        <td>{{rowData.asins}}</td>
                        <td>{{rowData.investigationDate | date:'medium'}}</td>
                        <td><span [class]="'customer-badge status-' + rowData.status">{{rowData.status}}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>


</div>

